#app {
  width: 100%;
  height: 100%;
}

html,
body {
  margin: unset;
  padding: unset;
}

.footer {
  height: 270px;
  color: #60606d;
}

.clearfix {
  *zoom: 1;
}

.wrap {
  width: 1160px !important;
  margin: 0 auto;
}

img {
  border: 0 none;
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: top;
  -ms-interpolation-mode: bicubic;
}

ol,
ul {
  list-style-type: none;
  list-style-image: none;
}

p {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ul {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

input:focus,
textarea:focus {
  outline: 0;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  border-radius: 2px;
  background: rgba(20, 29, 35, 1);
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #aaa;
}
::-webkit-scrollbar-thumb:hover {
  background: #747474;
}
::-webkit-scrollbar-corner {
  background: rgba(20, 29, 35, 1);
}
